<!DOCTYPE html>
<html>
  <head>
    <title>SteemClassifieds</title>
    <meta charset="UTF-8">
    <meta name="description" content="SteemClassifieds is a decentralized classifieds network based on Steem blockchain">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--server:header-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="app"><!--server:html--></div>
    <!--server:scripts-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh,Intl.~locale.fr,Intl.~locale.de,Intl.~locale.ru,Intl.~locale.ko,Intl.~locale.nl"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114127732-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114127732-2');
</script>
    
    
    <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   	<script src="/listinghelper.js?v=1"></script>	
    
    <div style="display:none" id="templates">
      <div id="listingtype" class="ant-row ant-form-item">
<h2What type of posting do you have?</h2>
<h4>To Avoid Being Seen As Spam Limit Each Posting to a Single Category, Once per 7 Days</h4>

    <ul class="selection-list">
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="job-offered">
		</span>
		<span class="right-side">
		    job offered
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="gig-offered">
		</span>
		<span class="right-side">
		    gig offered
			<h4>(I'm hiring for a short-term, small or odd job)</h4>
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="resume-job-wanted">
		</span>
		<span class="right-side">
		    resume / job wanted
		</span>
	    </label>
	</li>
	   <li class="start-of-grouping">
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="housing-offered">
		</span>
		<span class="right-side">
		    housing offered
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="housing-wanted">
		</span>
		<span class="right-side">
		    housing wanted
		</span>
	    </label>
	</li>
	   <li class="start-of-grouping">
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="for-sale-by-owner">
		</span>
		<span class="right-side">
		    for sale by owner
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="for-sale-by-dealer">
		</span>
		<span class="right-side">
		    for sale by dealer
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="wanted-by-owner">
		</span>
		<span class="right-side">
		    wanted by owner
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="wanted-by-dealer">
		</span>
		<span class="right-side">
		    wanted by dealer
		</span>
	    </label>
	</li>
	   <li class="start-of-grouping">
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="service-offered">
		</span>
		<span class="right-side">
		    service offered
		</span>
	    </label>
	</li>
	   <li class="start-of-grouping">
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="personal-romance">
		</span>
		<span class="right-side">
		    personal / romance
		</span>
	    </label>
	</li>
	   <li class="start-of-grouping">
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="community">
		</span>
		<span class="right-side">
		    community
		</span>
	    </label>
	</li>
	   <li>
	    <label>
		<span class="left-side">
		    <input type="radio" name="id" value="event-class">
		</span>
		<span class="right-side">
		    event / class
		</span>
	    </label>
	</li>
    </ul>
</div>
      
      <div id="backgrounds" class="ant-row ant-form-item" class="height:200px;"></div>
  <div id="previewadventure" class="ant-row ant-form-item" class="height:450px;"></div>
  <div class="ant-row ant-form-item"></div>
  <div class="Editor__bottom"><div class="Editor__bottom__right">
  <div class="ant-row ant-form-item"><div class="ant-form-item-control-wrapper">
  <div class="ant-form-item-control "><button class="Action" type="" onclick="finishStory();">Finish Your Post</button></div></div></div></div></div>'); 
	
      
      
      
    </div>
    
  </body>
</html>
