<!DOCTYPE html>
<html>
  <head>
    <title>SteemClassifieds</title>
    <meta charset="UTF-8">
    <meta name="description" content="SteemClassifieds is a decentralized classifieds network based on Steem blockchain">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--server:header-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


<style>

@keyframes glowing {
  0% { box-shadow: 0 0 5px #c4a300; }
  40% { box-shadow: 0 0 30px #00a4c4; }
  60% { box-shadow: 0 0 30px #00a4c4; }
  100% { box-shadow: 0 0 10px #c4a300; }
}
.glow {
  animation: glowing 1000ms infinite;
  z-index: 9999;
}


.waiting {
    position: fixed;
    z-index: 99999;
    background-color: white;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 10px;
    padding: 12px;
    margin-left: 20%;
}

	</style>
    
    
  </head>
  <body>
    <div id="app"><!--server:html--></div>
    <!--server:scripts-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh,Intl.~locale.fr,Intl.~locale.de,Intl.~locale.ru,Intl.~locale.ko,Intl.~locale.nl"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114127732-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114127732-2');
</script>
    
    
    <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   	<script src="/listinghelper.js?v=4"></script>	
    

    
  </body>
</html>
